<div class="part">
    <h3>Flocage</h3>
    <div>
        <label class="switch">
            <input type="checkbox" id="togBtn" (click)="changeFlockedStatus()">
            <div class="slider round"></div>
        </label>
    </div>
    <div *ngIf="isFlocked">
        <select>
            <option *ngFor="let player of players">{{player.numero}} - {{player.nom}}</option>
        </select>
    </div>
</div>
<div class="part">
    <app-badges></app-badges>
</div>
<div class="part">
    <app-quantity (sendQuantity)="updateQuantity($event)"></app-quantity>
</div>
<div class="part">
    <app-price [isFlocked]="isFlocked" [quantity]="quantity"></app-price>
</div>
