<h1>TP juvejersey</h1>
    <div id="app">
        <app-images></app-images>
        <div id="settingArea">
            <h2>Juventus Home Authentic Jersey 2020/21</h2>
            <section>
                <h3>Flocking</h3>
                <span class="flock selected">No flock</span>
                <span class="flock">Players</span>
            </section>
            <section>
                <h3>Badges</h3>
                <div id="badges">
                    <img *ngFor="let badge of badgesImg" [src]="badge">
                </div>
                <div id="badgesSelector">
                    <input type="checkbox" (click)="selectBadge($event)">
                    <input type="checkbox" (click)="selectBadge($event)">
                    <input type="checkbox" (click)="selectBadge($event)">
                </div>
            </section>
            <section>
                <h3>Quantity</h3>
                <select (change)="changeQuantity($event)">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </section>
            <section>
                <h3>Total price</h3>
                <h3>{{total}}</h3>
            </section>
        </div>
    </div>
