body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10pt;
}

h2 {
    font-size: 1.1rem;
}

#badges img {
    width: 60px
}

#badgesSelector input {
    margin: 0 24px
}
section {
    margin: 40px 0
}

.flock {
    padding: 8px;
    border: 1px #aaa solid;
    text-transform: uppercase;
    font-weight: bold;

}

.flock.selected {
    color: #ff2850;
    border-color: #ff2850;
}
